<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776302012522-s9du1hg0i27pgtd8jcavq70t3j86vrdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776302012522-s9du1hg0i27pgtd8jcavq70t3j86vrdf</string>
	<key>API_KEY</key>
	<string>AIzaSyALIxq0pgEwPgdjTQgDdkLpWBlVoZvI4dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>776302012522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groupar.farming</string>
	<key>PROJECT_ID</key>
	<string>smartfarming-cde84</string>
	<key>STORAGE_BUCKET</key>
	<string>smartfarming-cde84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776302012522:ios:a1c479c676089461264213</string>
</dict>
</plist>